*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(73, 94, 94);
}
/*utilidades*/

img{
    width: 30%;
}
h1, h2, h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(121, 109, 109);
}
.contenedor{
    width: 50%;
    background-color: rgb(168, 166, 168);
    margin-top: 1rem;
}
.contenedor h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}
.contenedor p{
    font-size: 2rem;
    color: rgb(24, 36, 27);
    text-align: justify;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.imagen img{
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
    border-radius: 1rem;
}

.contenido{
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border: 0.1rem solid #a37676;
    border-radius: 1rem;
    text-align: center;
}
.contenido p{
    margin-bottom: 2rem;
}

.contenido-tercera{
    display: flex;
}

.contenido-tercera_tar{
    display: flex;
    flex-direction: column;
    background-color: #97dcfc;
    margin: 1rem;
    gap: 1rem;
    border-radius: 1rem 0;
}
